---
title: Albums
subTitle: 
layout: photo-default
---

<script>
$(document).ready(function() {
        $('.intro-header').css({
            background: 'url(/images/portfolio/greenspring-valley-xl.jpg) no-repeat center center',
            'background-size': 'cover'
        });
    console.log($('.intro-header'));
});
</script>


<hr />
<div class="container">
    <div class="row">
    {% for post in site.posts %}
    {% if post.thumbnail %}
        <div class="col-lg-6 album-intro">
            <h3 class="section-heading">{{ post.title }}</h3>
            <div class="thumbnail">
                <a href="{{ post.url }}"><img src="{{ post.thumbnail_sm }}" alt="" /></a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

{% comment %}
<!-- Page Content -->

{% endcomment %}
