---
title: Photo
layout: base
---

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content-slide">
                <img class="display-img" src="https://farm6.staticflickr.com/5325/9012097444_d09445bb27_o_d.jpg" />
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <img class="display-img" src="https://farm4.staticflickr.com/3792/9999594204_032aa3abcf_o_d.jpg" />
            </div>
        </div>

        <div class="swiper-slide">
            <div class="content-slide">
                <img class="display-img" src="https://farm3.staticflickr.com/2807/9356166954_8ecee29e68_o_d.jpg" />
            </div>
        </div>
        
        <div class="swiper-slide">
            <div class="content-slide">
                <img class="display-img" src="https://farm3.staticflickr.com/2863/9012444114_524c49608e_o_d.jpg" />
            </div>
        </div>
        
        <div class="swiper-slide">
            <div class="content-slide">
                <img class="display-img" src="https://farm9.staticflickr.com/8169/8046235450_148e91bfb3_o_d.jpg" />
            </div>
        </div>
    </div>
</div>

<h2>Posts</h2>

<table class="flat">
    {% for post in site.posts %}
    <tr>
        <td><b>&raquo; {{ post.date | date_to_string }}</b></td>
        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
</table>
<br />

<hr />

{% for post in site.posts %}
<div class="post_entry">
    <span class="date">{{ post.date | date_to_string }}</span>
    <h2>{{ post.title }}</h2>

    {{ post.content }}

    <p>
        <a href="{{ post.url }}">[ permalink ]</a> 
    </p>

</div>
{% endfor %}


<script src="/javascripts/idangerous.swiper.min.js"></script>
<script>
var mySwiper = new Swiper('.swiper-container',{
loop:true,
grabCursor: true
});
</script>
