<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/photo">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/photo/albums.html">Albums</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/photo/contact.html">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4 text-muted">
            </div>
        </div>
    </div>
</footer>
