
<div class="resume_section">
<div class="resume_section_head">
<h2>Summary</h2>
</div>
<div class="resume_section_body">
<p>
Experienced software engineer with broad expertise including aerospace flight software, embedded systems, cyber security, protocol engineering, and web development.
</p>

<p>
Applies rigorous engineering practices to create robust and scalable software systems. 
Highly analytical with tendency to conceptualize and solve problems with formal methods.
Effectively communicates technical challenges and solutions to a variety of audiences.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Experience</h2>
</div>
<div class="resume_section_body">
<p>
<strong>Johns Hopkins University Applied Physics Lab</strong><br>
<em>2008 - Present. Associate Professional Staff.</em><br>
</p>
<p>
Lead flight software engineer on autonomy system for the NASA Solar Probe mission.
Earlier efforts demonstrating technology readiness of the autonomy engine on UAV platform awarded 2013 JHU/APL Hart Prize for R&amp;D Technology Development.
</p>
<p>
Performed penetration tests on spacecraft testbeds, devised countermeasures using in-situ spacecraft resources, and currently pursuing technology spinoff involving analysis of cyber attack and defense strategies.
Published cryptographic key management solution for space DTNs, and contributed to the implementation of the security extensions for the NASA JPL implementation of LTP/BP (which flew on the "Dinet-2" experiment on the EPOXI spacecraft).
</p>
<p>
Contributed to flight software R&amp;D efforts:
aggregated and developed baseline flight software infrastructure for all future group IR&amp;Ds going forward,
and contributed to an experimental branch of the open source NASA CFE flight software framework to take advantage MMU-equipped boards.
</p>

<p>
<strong>NASA Goddard Space Flight Center</strong><br>
<em>05/2007 - 08/2007. Research Associate.</em><br>
</p>
<p>
Designed hardware communication component for sensor node network in VHDL. Also assisted in producing the documentation for all electrical components on the LOLA instrument for the LRO mission.
</p>

<p>
<strong>Universit&auml;t Mainz Institut f&uuml;r Kernphysik</strong><br>
<em>05/2006 - 08/2006. NSF Undergraduate Fellow.</em><br>
</p>
<p>
Developed application to maintain calibration data for particle detector. Advised in software development techniques for physics students.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Publications &amp; Activities</h2>
</div>
<div class="resume_section_body">
<p>
Chair for the 2013 SpaceOps Conference at APL. Organized cyber security workshop at the 2011 IEEE SMC-IT Conference in Palo Alto, CA. Participant of the formal verification working group at APL.
</p>

<p>
<strong>Protecting Against DNS Cache Poisoning Attacks</strong><br>
<em>J. Trostle, W. Van Besien, A. Pujari</em><br>
6th IEEE ICNP Workshop on Secure Network Protocols (NPSec 2010).<br>
Kyoto, Japan. 2010.
</p>

<p>
<strong>Dynamic, Non-Interactive Key Management for the Bundle Protocol</strong><br>
<em>W. Van Besien</em><br>
5th ACM MobiCom Workshop on Challenged Networks (CHANTS 2010).<br>
Chicago, IL. 2010.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Education</h2>
</div>
<div class="resume_section_body">
<p>
<strong>M.Sc.</strong> and <strong>B.Sc.</strong> in <strong>Computer Science</strong>.<br>
<em>George Washington University. 2010, 2009.</em>
</p>
<p>
Focus in Computer Security and Information Assurance (CSIA). Fully funded 2008-2010 under the NSF Cyber Corps program, from 2005-08 funded partially under School of Engineering Dean's scholarship.
</p>
<p>
<strong>Interests:</strong> Applied crypto, algorithms, complexity theory.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Technical Details</h2>
</div>
<div class="resume_section_body">
<p>
<strong>Programming:</strong> Python and C extensively. Affection for Scala and other functional languages. Further experience in Java, C++, Bash/unix tools, Perl, JavaScript, PHP. Also some experience with VHDL and arduino.
</p>
<p>
<strong>Frameworks/Environments:</strong> Linux development and administration, front/back-end web development (Django, Flask, Node.js, jQuery, REST, JSON), RTEMS, NASA flight software architectures (cFE). Plenty of Python libraries, especially Unittest. 
</p>
<p>
<strong>Software Utilities:</strong> Development: Make, CMake, autotools, Git, Mercurial, SVN. Jenkins for continuous integration and QA-C for static analysis. Spaceflight ops: InControl (JAS), Epoch. 
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Misc Details</h2>
</div>
<div class="resume_section_body">
<p>
U.S. Citizen, clearance eligible.
</p>
</div>
</div>
