
<div class="resume_section" id="resume_header">
<p id="contact">
vanbesien@gmail.com &middot; 410-790-8888<br />
http://billvb.github.io<br />
Washington, DC.</p>
<h1>William L. Van Besien</h1>
<p id="subtitle">Software Engineering &amp; Computer Science</p>
</div>
<div class="resume_section">
<div class="resume_section_head">
<h2>Summary</h2>
</div>
<div class="resume_section_body">
<p>
Experienced software engineer with background in laboratory and startup environments
broad expertise including aerospace flight software, embedded systems, security, and web applications.
</p>

<p>
Applies rigorous engineering practices to create robust and scalable software systems. 
Highly analytical with tendency to conceptualize and solve problems with formal methods.
Effectively communicates technical challenges and solutions to a variety of audiences.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Experience</h2>
</div>
<div class="resume_section_body">
    
<p>
<strong>Nextility, Inc.</strong><br />
<em>09/2013 - Present (Part-time)</em>
</p>
<p>
Advising in the design and development of new and ongoing software efforts at a DC energy services startup.
Designing and implementing the hardware/software SCADA system for interfacing between a distributed network of renewable energy devices and back-end data analytics engine.
(<em>on part-time basis</em>) 
</p>

<p>
<strong>Johns Hopkins University Applied Physics Lab</strong><br>
<em>2008 - Present. Associate Professional Staff.</em><br>
</p>
<p>
Currently the software system architect for fault-management and remediation on a multi-year, multi-phase effort for safely testing UAV mission-level autonomy.
</p>
<p>
Served as a chief flight software engineer on the proposed model-based, formally verifiable fault management system for the NASA Solar Probe mission.
Earlier efforts demonstrating technology readiness of this autonomy engine on UAV platform awarded the 2013 JHU/APL Hart Prize for R&amp;D Technology Development.
</p>
<p>
Performed penetration tests on spacecraft testbeds, devised countermeasures using in-situ spacecraft resources, and currently pursuing technology spinoff involving analysis of cyber attack and defense strategies.
Published cryptographic key management solution for space DTNs, and contributed to the implementation of the security extensions for the NASA JPL implementation of LTP/BP (which flew on the "Dinet-2" experiment on the EPOXI spacecraft).
</p>
<p>
Contributed to flight software R&amp;D efforts:
aggregated and developed baseline flight software infrastructure for all future group IR&amp;Ds going forward,
and contributed to an experimental branch of the open source NASA CFE flight software framework to take advantage MMU-equipped boards.
</p>

<p>
<strong>NASA Goddard Space Flight Center</strong><br>
<em>05/2007 - 08/2007. Research Associate.</em><br>
</p>
<p>
Designed hardware communication component for sensor node network in VHDL.
Also assisted in producing the documentation for all electrical components on the LOLA instrument for the NASA LRO mission.
</p>

<p>
<strong>Universit&auml;t Mainz Institut f&uuml;r Kernphysik</strong><br>
<em>05/2006 - 08/2006. NSF Undergraduate Fellow.</em><br>
</p>
<p>
Developed application to maintain calibration data for particle detector.
Advised in software development techniques for physics students.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Publications &amp; Activities</h2>
</div>
<div class="resume_section_body">

<p>
<strong>Investigating Model-Based Autonomy for Solar Probe Plus</strong><br />
2013 Workshop on Spacecraft Flight Software.<br />
California Institute of Technology. Pasadena, CA. 2013.
</p>

<p>
<em>(Session Chair)</em><br />
SpaceOps 2013; Session on Space Cyber-Security.<br />
JHU/APL. Laurel, MD. 2013.
</p>

<p>
<strong>Protecting Against DNS Cache Poisoning Attacks</strong><br>
<em>with J. Trostle, A. Pujari.</em><br>
6th IEEE ICNP Workshop on Secure Network Protocols.<br>
Kyoto, Japan. 2010.
</p>

<p>
<strong>Dynamic, Non-Interactive Key Management for the Bundle Protocol</strong><br>
5th ACM MobiCom Workshop on Challenged Networks.<br>
Chicago, IL. 2010.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Education</h2>
</div>
<div class="resume_section_body">
<p>
<strong>M.Sc.</strong> and <strong>B.Sc.</strong> in <strong>Computer Science</strong>.<br>
<em>George Washington University. 2010, 2009.</em>
</p>
<p>
Focus in Computer Security and Information Assurance (CSIA). Fully funded 2008-2010 under the NSF Cyber Corps program, from 2005-08 funded partially under School of Engineering Dean's scholarship.
</p>
<p>
<strong>Interests:</strong> Applied crypto, algorithms, complexity theory.
</p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Technical Details</h2>
</div>
<div class="resume_section_body">
    <p>
    <strong>Stack.</strong> Most extensively C (for embedded and real-time aerospace systems) and Python (with Flask for web development) in a Linux environment. Good familiarity with JavaScript/jQuery (in concert with Bootstrap) for front-end work. In the past used Java, Perl, and PHP to varying degrees. Modest experience with Scala and have an affection for other functional languages.  Familiar with VHDL and Verilog for HDL. Generally suspicious of C++ outside of select use-cases.
    </p>
    <p>
    <strong>Misc.</strong> (web) Flask, Django, Node.js. HTML, JavaScript, CSS, REST, JSON. (Linux) Whole toolset: grep, AWK, shell scripting, etc. (embedded/hardware) NASA cFE Flight Software, Modbus serial comm, Raspberry Pi, Arduino, FPGA. (Python) Unittest, requests, SWIG, BeautifulSoup, PyQuery, NumPy, pygraphviz, matplotlib, many others. (database) Postgres, MySQL, SQLite, Mongo. (development) Git, Mercurial, Subversion. Make, CMake, autotools. Jenkins for continuous integration and QA-C for static analysis.
    </p>
</div>
</div>

<div class="resume_section">
<div class="resume_section_head">
<h2>Other Details</h2>
</div>
<div class="resume_section_body">
<p>
U.S. Citizen, clearance eligible.<br />
</p>
</div>
</div>
