@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);

body {
    font: 12pt/1.5 Merriweather;
    font-weight: 300;
    color: #393D44;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h3 {
    margin-top: 2.3em;
    font-size: 14pt;
}

p {
    font-size: 12pt;
    line-height: 175%;
    letter-spacing: 0.01rem;
    padding-bottom: 5px;
    color: #333;
    text-align: left;
}

.billvb-content {
    max-width: 42em;
}

#pages-menu {
    margin-left: -5px;
}

.page-header {
    margin-top: 10%;
    margin-bottom: 3%;
    border-bottom-width: 0px;
}

.nav-pills>li>a {
    border: 1px solid transparent;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #fff;
    color: #428bca;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: transparent;
    color: #428bca;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}

#my-photo {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 120px;
    border-radius: 50%;
}
