@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);

.billvb-content img {
    max-width: 100%;
}

.billvb-content p {
    font-weight: 400;
    font: 14pt/1.5 Merriweather;
    color: #555;
}

.billvb-content h1,
.billvb-content h2{
    padding-top: 2em;
    padding-bottom: 0.75em;
}

/* ----- */

.billvb-basic p {
    font-weight: 400;
    font: 13pt/1.5 Merriweather;
    color: #555;
}

.billvb-light {
    font-weight: 300;
    font-size: 13pt;
    color: #555;
}


.album-intro {
    text-align: center;
    color: #888;
}

.thumbnail {
    text-align: center;
    border: none;
}

.thumbnail img {
    max-width: 100%;
}


.home-menu h1 {
    font: 24pt Sans-Serif;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 20px;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
    width: 18%;
    text-align: right;
    left: 5%;
    z-index: 10000;
}

.home-menu ul {
    min-width: 300px;
    position: fixed;
    top: 0;
    left: 25%;
    z-index:10000;
    background: rgba(255, 255, 255, 0.0);
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-top: 0px;
    list-style-type: none;
}

.home-menu ul a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 15px;
    color: #227;
    font: 16pt Sans-Serif;
    font-weight: 100;
}

.home-menu ul a:hover, 
.home-menu ul a:active {
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
