@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700);

body {
    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color:#333; /* was 777 */
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222; /* was 777 */
    font-weight: 300;
}
