@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);

body {
    /*font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font: 12pt/1.5 Merriweather;
    color:#333; /* was 777 */
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    /* xfont-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; */

    color:#222; /* was 777 */
    font-weight: 700;
}

#site-title {
    color: #ccc;
}

#pages-menu {
    margin-left: -14px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #fff;
    color: #428bca;
    border: 0px solid #90bee4;
    border-bottom: 1px solid #90bee4;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #fff;
    color: #428bca;
    border: 0px solid #90bee4;
    border-bottom: 1px solid #aaa;
}
