@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);

html, body {
        height: 100%;
}

.fill-height {
        min-height: 100%;
        height:auto !important; /* cross-browser */
        height: 100%; /* cross-browser */
}

.billvb-content img {
    max-width: 100%;
}

.billvb-content p {
    font-weight: 400;
    font: 14pt/1.5 Merriweather;
    color: #555;
}

.billvb-content h1,
.billvb-content h2{
    padding-top: 2em;
    padding-bottom: 0.75em;
}

/* ----- */

.billvb-basic p {
    font-weight: 400;
    font: 13pt/1.5 Merriweather;
    color: #555;
}

.billvb-light {
    font-weight: 300;
    font-size: 13pt;
    color: #555;
}


.album-intro {
    text-align: center;
    color: #888;
}

.thumbnail {
    text-align: center;
    border: none;
}

.photo-content {
    margin-top: 25px;
}

.thumbnail img {
    max-width: 100%;
}

.home-menu {
    text-align: right;
}

.home-menu h1 {
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    font: 24pt Sans-Serif;
    font-weight: 100;
    vertical-align: top;
    padding: 10px 15px;
    margin: 0;
    margin-top: 10px;
    text-align: right;
    z-index: 10000;
}

.home-menu ul {
    display: inline-block;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.0);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.home-menu ul a {
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 15px;
    color: #227;
    font: 16pt Sans-Serif;
    font-weight: 100;
}

.home-menu ul a:hover, 
.home-menu ul a:active {
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
