<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }} - billvb.github.io</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/billvb.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/idangerous.swiper.css">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  </head>

  <body>
    <div class="container">
        <h2>billvb.github.io &raquo; photography</h2>
    </div> <!-- /container -->

    <div class="container-fluid billvb-content">
    {{ content }}
    </div> <!-- container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        /*
        $.ajax({type: "POST",
                url: "http://dev.billvb.com:5000/log",
                contentType: 'application/json;charset=UTF-8',
                data: { site: "github",
                        page: window.location.pathname,
                        referrer: document.referrer }
               });
        */

        $.post("http://dev.billvb.com:90/log",
               {site: "github",
                page: $(location).attr('href'),
                referrer: document.referrer});

    </script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
